body {
    font-family: Arial, Helvetica, sans-serif;
}

/* NavBar */
#nav {
    background: #202020;
}
.navbar-toggler {
    color: white;
    border: black;
}

.navbar-toggler-icon {
    color: white;
}

body::before {
    display: block;
    content: '';
    height: 80px;
}
/* how do i get the bar below and the length of the text?*/
nav li {
    position: relative;
}

nav li a::after {
    content: '';
    display: block;
    height: 1px;
    width: 0%;
    background-color: white;

    position: absolute;

    transition: all ease-in-out 250ms;
}

nav li a:hover::after {
    width: 82%;
}

/*showcase*/
section.light, section.main {
    overflow: hidden;
    border-top: #ffffff solid 1px;
    padding: 6.4rem 3.2rem;
}

.row {
    max-width: 68rem;
    margin: 0 auto;
}

.face {
    width: 100%;
    position: relative;
}

.face a {
    color: black;
    text-decoration: none;
}

a {
    cursor: pointer;
}

.face .designer {
    left: 0;
}

.face .coder, .face .designer {
    position: absolute;
    width: 30%;
    display: block;
    z-index: 10;
    height: 20%;
    margin: auto;
    top: 0;
    bottom: 0;
}

.face .coder {
    right: 0;
    text-align: right;
}

.face .face-img {
    display: block;
    margin: 0px;
}

#face-img {
    max-width: 100%;
    position: relative;
    height: auto;
}

/*info*/
#learn {
    background-color: #151414;
    color: white;
}

/* moving pic and box???*/
#iimg {
    width: 400px;
}

/*Carousel*/
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel {
    border: black solid 2px;
}

.carousel-inner .carousel-item img {
    width:640px;
    height:360px;
  }

/*footer*/
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: white;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: rgb(190, 190, 190);
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: white;
}
.link:hover{
    color: white;
  }
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: white;
    padding: 13px 20px;
    border: 1px solid white;
    top: 0;
}
.subscribe-form button i {
  color: black;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: white;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: white;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/*Services Page*/
.jumbotron {
  background-image: url("https://icm.aexp-static.com/content/dam/contenthub/us/en/ach-images/2019/7/empower-collaboration-office-space-mccann-header.jpg?imwidth=968");
  background-size: cover;
  height: 100%;
  min-height: 650px;
}

.Btext {
    color: #FFF;
    text-shadow: 0px 1px 12px black;
  }

/*How We work Page*/

/*Contact us*/
#conimage {
  height: 550px;
}

#aboutrow {
  background: #2E2E2E;
}

#map {
  height: 400px;
  width: 100%;
}

#jumbo2 {
  background-image: url(https://www.nsha.org/wp-content/uploads/2017/06/computer-coding.jpg);
  min-height: 400px;
}